<app-title title="FORMS"></app-title>
<app-back></app-back>
<form [formGroup]="form" (submit)="submitForm()">
    <ul>
        <li>
            <input type="text" id="name" formControlName="name" placeholder="name"> <b>{{nameControl.valid}}</b>
        </li>
        <li>
            <input type="number" id="age" formControlName="age" placeholder="age"> <b>{{ageControl.valid}}</b>
        </li>
        <li>
            <input type="text" id="email" formControlName="email" placeholder="email"> <b>{{emailControl.valid}}</b>
        </li>
        <li>
            FORM valid: <b>{{form.valid}}</b>
        </li>
        <li>
            <button type="submit">submit</button>
        </li>
    </ul>
</form>