<app-title title="Angular CLI" subtitle="sub title"></app-title>
<app-back></app-back>

<ul>
    <li>
        <b>Create new project:</b> ng new appName --directory folder-name/
    </li>
    <li>
        <b>Serve project:</b> ng serve
    </li>
    <li>
        <b>Generate a new module with route:</b> ng g m home --routing
    </li>
    <li>
        <b>Generate a new component without folder and test:</b> ng g c home --flat --skipTests=true
    </li>
    <li>
        <b>Generate a new service:</b> ng g s weather --skiptTest
    </li>

    
    <li>
        <b>Ref:</b> <a href="https://cli.angular.io/" target="_blank">Angular cli</a>
    </li>
</ul>