<app-title title="Angular CLI" subtitle="sub title"></app-title>
<div class="container">
    <app-back></app-back>
    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Create new project:</b> ng new appName --directory folder-name/
                </li>
                <li class="list-group-item">
                    <b>Serve project:</b> ng serve
                </li>
                <li class="list-group-item">
                    <b>Generate a new module with route:</b> ng g m home --routing
                </li>
                <li class="list-group-item">
                    <b>Generate a new component without folder and test:</b> ng g c home --flat --skipTests=true
                </li>
                <li class="list-group-item">
                    <b>Generate a new service:</b> ng g s weather --skiptTest
                </li>
                <li class="list-group-item">
                    <b>Ref:</b> <a href="https://cli.angular.io/" target="_blank">Angular cli</a>
                </li>
            </ul>
        </div>
    </div>
</div>

