.color-blue {
    color: blue;
}

// Class
.color-green {
    color: green;
}
//ID
#example {
    color: chocolate;
}
//Type
h2 {
    color: green;
}


// Priority
#example {
    color: chocolate;
}
.example2 {
    color: indigo;
}
h4 {
    color: olive;
}

