<h1>ANGULAR CAPACITACION: {{title}}</h1>
<hr>

<h2>ANGULAR CLI</h2>
<ul>
    <li>
        <b>Create new project:</b> ng new appName --directory folder-name/
    </li>
    <li>
        <b>Serve project:</b> ng serve
    </li>
</ul>

<h2>GIT</h2>
<ul>
    <li>
        <b>Clone repository:</b> git clone git@github.com:jonigarciaschaff/capacitacion-angular.git
    </li>
    <li>
        <b>Check status:</b> git status
    </li>
    <li>
        <b>Select files:</b> git add .
    </li>
    <li>
        <b>Select files:</b> git commit -m "first commit"
    </li>
    <li>
        <b>Push changes:</b> git push
    </li>
    <li>
        <b>Pull changes:</b> git pull
    </li>
</ul>

<h2>RENDER</h2>
<ul>
    <li>
        <b>Author:</b> {{author}}
    </li>
</ul>

<h2>EVENTS</h2>
<ul>
    <li>
        <b>Clicks:</b> {{clickCounter}} - <button (click)="clickme()">clickme</button>
    </li>
    <li (mouseover)="hoverIn()" (mouseout)="hoverOut()">
        <b>Hover:</b> {{isHover}}
    </li>
</ul>

<h2>DIRECTIVES</h2>
<ul>
    <li>
        <b>NG-IF:</b>
        <span *ngIf="clickCounter < 10">showme if clickCounter is less than 10</span>
        <span *ngIf="clickCounter > 10">showme if clickCounter is bigger than 10 </span>
    </li>
    <li>
        <b>NG-FOR:</b> Participants: <span *ngFor="let participant of participants">{{participant}} &nbsp;</span>
    </li>
</ul>

