<h1>ANGULAR CAPACITACION</h1>
<hr>

<h2>ANGULAR CLI</h2>
<ul>
    <li>
        <b>Create new project:</b> ng new appName --directory folder-name/
    </li>
    <li>
        <b>Serve project:</b> ng serve
    </li>
</ul>

<h2>GIT</h2>
<ul>
    <li>
        <b>Clone repository:</b> git clone git@github.com:jonigarciaschaff/capacitacion-angular.git
    </li>
    <li>
        <b>Check status:</b> git status
    </li>
    <li>
        <b>Select files:</b> git add .
    </li>
    <li>
        <b>Select files:</b> git commit -m "first commit"
    </li>
    <li>
        <b>Push changes:</b> git push
    </li>
    <li>
        <b>Pull changes:</b> git pull
    </li>
</ul>