
<router-outlet></router-outlet>
<!-- <h1>ANGULAR CAPACITACION: {{title}}</h1>
<hr>

<h2>GIT</h2>
<ul>
    <li>
        <b>Clone repository:</b> git clone git@github.com:jonigarciaschaff/capacitacion-angular.git
    </li>
    <li>
        <b>Check status:</b> git status
    </li>
    <li>
        <b>Select files:</b> git add .
    </li>
    <li>
        <b>Select files:</b> git commit -m "first commit"
    </li>
    <li>
        <b>Push changes:</b> git push
    </li>
    <li>
        <b>Pull changes:</b> git pull
    </li>
</ul>

<h2>RENDER</h2>
<ul>
    <li>
        <b>Author:</b> {{author}}
    </li>
</ul>

<h2>EVENTS</h2>
<ul>
    <li [ngClass]="
    {   
        'color-green': clickCounter <= 10,
        'color-yellow': (clickCounter > 10 && clickCounter < 20),
        'color-red': clickCounter >= 20
    }"
    >
        <b>Clicks:</b> {{clickCounter}} - <button (click)="clickme()">clickme</button>
    </li>
    <li (mouseover)="hoverIn()" (mouseout)="hoverOut()">
        <b>Hover:</b> {{isHover}}
    </li>
</ul>

<h2>DIRECTIVES</h2>
<ul>
    <li>
        <b style="color: red">NG-IF:</b>
        <span *ngIf="clickCounter < 10">showme if clickCounter is less than 10</span>
        <span *ngIf="clickCounter > 10">showme if clickCounter is bigger than 10 </span>
    </li>
    <li>
        <b class="color-blue">NG-FOR:</b> Participants: <span *ngFor="let participant of participants">{{participant}} &nbsp;</span>
    </li>
</ul>

<h2>STYLE</h2>
    <ul>
        <li>
            <h3 id="example">Example</h3>
        </li>
        <li>
            <h4 id="example2" class="example2">Example2</h4>
        </li>
        <li>
            <b>Ref:</b>
            <a href="https://www.w3schools.com/html/html_css.asp" target="_blank">
                CSS DOC
            </a>
        </li>
    </ul>

<h2>FORMS</h2>
<form [formGroup]="form" (submit)="submitForm()">
    <ul>
        <li>
            <input type="text" id="name" formControlName="name" placeholder="name"> <b>{{nameControl.valid}}</b>
        </li>
        <li>
            <input type="number" id="age" formControlName="age" placeholder="age"> <b>{{ageControl.valid}}</b>
        </li>
        <li>
            <input type="text" id="email" formControlName="email" placeholder="email"> <b>{{emailControl.valid}}</b>
        </li>
        <li>
            FORM valid: <b>{{form.valid}}</b>
        </li>
        <li>
            <button type="submit">submit</button>
        </li>
    </ul>
</form>

 -->