<app-title title="HOME"></app-title>
<ul>
    <li><a routerLink="/angular-cli" routerLinkActive="active">Angular cli</a></li>
    <li><a routerLink="/directives" routerLinkActive="active">Directives</a></li>
    <li><a routerLink="/events" routerLinkActive="active">Events</a></li>
    <li><a routerLink="/forms" routerLinkActive="active">Forms</a></li>
    <li><a routerLink="/git" routerLinkActive="active">Git</a></li>
    <li><a routerLink="/render" routerLinkActive="active">Render</a></li>
    <li><a routerLink="/style" routerLinkActive="active">Style</a></li>
    <li><a routerLink="/pipe" routerLinkActive="active">Pipe</a></li>
    <li><a routerLink="/http" routerLinkActive="active">Http</a></li>
</ul>