<div class="sidebar-container">
    <ul class="list-group">
        <li class="list-group-item"><a routerLink="/angular-cli" routerLinkActive="active">Angular cli</a></li>
        <li class="list-group-item"><a routerLink="/directives" routerLinkActive="active">Directives</a></li>
        <li class="list-group-item"><a routerLink="/events" routerLinkActive="active">Events</a></li>
        <li class="list-group-item"><a routerLink="/forms" routerLinkActive="active">Forms</a></li>
        <li class="list-group-item"><a routerLink="/git" routerLinkActive="active">Git</a></li>
        <li class="list-group-item"><a routerLink="/render" routerLinkActive="active">Render</a></li>
        <li class="list-group-item"><a routerLink="/style" routerLinkActive="active">Style</a></li>
        <li class="list-group-item"><a routerLink="/pipe" routerLinkActive="active">Pipe</a></li>
        <li class="list-group-item"><a routerLink="/http" routerLinkActive="active">Http</a></li>
    </ul>
</div>
