.sidebar-container {
    border: solid rgba(0, 0, 0, 0.125) 1px;
    position: fixed;
    width: 200px;
    bottom: 0;
    top: 80px;
    z-index: 1;
    background-color: white;
}

li:hover {
    background-color: bisque;
}